<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6_jVEac3IEEC1nrHFS9WgSI6HLbYmwBk</string>
	<key>GCM_SENDER_ID</key>
	<string>57676238964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ulinmahoni.app</string>
	<key>PROJECT_ID</key>
	<string>ulin-mahoni</string>
	<key>STORAGE_BUCKET</key>
	<string>ulin-mahoni.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57676238964:ios:8354f3fb0da91a84e54121</string>
	<key>CLIENT_ID</key>
	<string>398455187942-cis4kcbq55o31qp36mv1l61c70qk4vut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398455187942-cis4kcbq55o31qp36mv1l61c70qk4vut</string>
</dict>
</plist>